[submodule "arch/1password"]
	path = arch/1password
	url = https://aur.archlinux.org/1password.git
[submodule "arch/spotify"]
	path = arch/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "arch/snap-pac-grub"]
	path = arch/snap-pac-grub
	url = https://aur.archlinux.org/snap-pac-grub.git
[submodule "arch/snapper-gui-git"]
	path = arch/snapper-gui-git
	url = https://aur.archlinux.org/snapper-gui-git.git
[submodule "arch/home/julio/visual-studio-code-bin"]
	path = arch/home/julio/visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git
[submodule "arch/home/julio/yay"]
	path = arch/home/julio/yay
	url = https://aur.archlinux.org/yay.git
[submodule "arch/home/julio/rr"]
	path = arch/home/julio/rr
	url = https://aur.archlinux.org/rr.git
[submodule "arch/home/julio/.vim/bundle/Vundle.vim"]
	path = arch/home/julio/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
