[Unit]
Description=P2P API on Ubuntu

[Service]
WorkingDirectory=/var/www/p2p-api
ExecStart=/usr/bin/dotnet /var/www/p2p-api/p2p-api.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=p2p-api
User=turnserver
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target