[Unit]
Description=Coturn P2P API on Ubuntu

[Service]
WorkingDirectory=/var/www/rooms
ExecStart=/usr/bin/dotnet /var/www/rooms/Rooms.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=rooms
User=turnserver
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
